<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/estilos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Webinar</title>
  </head>
  <body>
    <header>

      <!-- Barra de menú -->

    <nav class="header__nav--webinar">
      <img src="../img/gh-logotipo-original.png" alt="Logo de la empresa" class="nav__logo">
      <div>  
        <ul>
          <li class="nav__il"><a href="../index.html">Inicio</a></li>
          <li class="nav__il"><a href="Cursos.html">Cursos</a></li>
          <li class="nav__il"><a href="Webinar.html">Webinar</a></li>
          <li class="nav__il"><a href="Contacto.html">Contacto</a></li>
          <li class="nav__il"><a href="Iniciar__sesión.html">Iniciar Sesión</a></li>
        </ul>
      </div>
    </nav>

    <!-----fin de la barra de menu------>
    
    </header>

    <section>
      <div>
        Fecha: 27 de Julio de 2021
        <br />
        Hora: 18 pm - Hora Argentina
        <h1>TÍTULO DEL WEBINAR</h1>
        <p class="hero_parrafo">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium,
          ipsa! Ipsum, unde quos. Inventore, iusto. Vero, aliquid! Quos
          cupiditate debitis quae corporis, autem consectetur pariatur ipsum
          facilis perferendis voluptatibus corrupti?
        </p>
        <h3>El webinar comienza en:</h3>
        01 dias 05 horas 45 minutos 30 segundos
        <br />
        <br />
        <a
          href="../Documentos/Webinar/Información del webinar.pdf"
          target="_blanck"
          >Información</a
        >
      </div>
      <br />
      <div class="video_container">
        <h3>Video del Webinar</h3>
        <!-- Aquí va el video de presentación del webinar -->
        <label for="usuario">Usuario</label>
        <input type="text" placeholder="Ingrese su usuario" id="usuario" />
        <br />
        <br />
        <label for="contraseña">Contraseña</label>
        <input
          type="password"
          placeholder="Ingrese su contraseña"
          id="usuario"
        />
        <br />
        <br />
        <a href="#">¿Olvidaste tu contraseña?</a>
        <br />
        <br />
        <a href="#">Reserva tu lugar contraseña?</a>
      </div>
    </section>
    <section>
      <h2>¿Que aprenderas en este webinar?</h2>
      <table border="1px solid black">
        <tr>
          <!-- Esto es para colocar una fila -->
          <th class="tabla_webinar">Temática N° 1</th>
          <!-- Esto es para colocar una celda en la primer fila -->
          <th class="tabla_webinar">Temática N° 2</th>
          <th class="tabla_webinar">Temática N° 3</th>
          <th class="tabla_webinar">Temática N° 4</th>
        </tr>
        <tr>
          <!-- Segunda fila -->
          <th>
            <ol class="text_table">
              <li>Beneficio N°1</li>
              <li>Beneficio N°2</li>
              <li>Beneficio N°3</li>
              <li>Beneficio N°4</li>
            </ol>
          </th>
          <th>
            <ol class="text_table">
              <li>Beneficio N°1</li>
              <li>Beneficio N°2</li>
              <li>Beneficio N°3</li>
              <li>Beneficio N°4</li>
            </ol>
          </th>
          <th>
            <ol class="text_table">
              <li>Beneficio N°1</li>
              <li>Beneficio N°2</li>
              <li>Beneficio N°3</li>
              <li>Beneficio N°4</li>
            </ol>
          </th>
          <th>
            <ol class="text_table">
              <li>Beneficio N°1</li>
              <li>Beneficio N°2</li>
              <li>Beneficio N°3</li>
              <li>Beneficio N°4</li>
            </ol>
          </th>
        </tr>
      </table>
    </section>
    <br />
    <br />

    /!--
    <div>
      SUSCRIBETE A NUESTRO CONTENIDO
      <label for="mail "></label>
      <input type="email" placeholder="Mail" id="mail" />
      <input type="submit" value="Suscribete" />
    </div> --/

    <!-- footer -->

    <footer>
      <section class="footer__container">
        <img src="../img/gh-logotipo-blanco.png" alt="Logo de la empresa" class="nav__logo">
        <p class="footer_copy">Copyright © 2021 XXXX. Todos los Derechos Reservados</p>
        <h4 class="footer__tittle">Nuestras oficinas</h4>
        <div class="footer__datos">
          Ubicación:
          <a href="https://goo.gl/maps/L4fyzm1HqLHiMrsH6" target="_blanck" class="link__footer"> Nuevo Centro Shopping</a>
          <br>
          Teléfono de contacto:
          <a href="https://wa.me/+5493513419174" target="_blanck" class="link__footer">(+549)3513419174</a>
          <br>
          Página de contacto:
          <a href="Contacto.html" class="link__footer">Contacto</a>
        </div>
        <div class="footer__datos">
        logo de Facebook
        <a href="https://www.facebook.com/" target="_blanck" class="link__footer">Facebook</a>
        <br />
        Logo de Whatsapp
        <a href="https://wa.me/+5493513419174" target="_blanck" class="link__footer">Whatsapp</a>
        <br />
        Logo de Instagram
        <a href="https://www.instagram.com/" target="_blanck" class="link__footer">Instagram</a>
      </div>
      </section>
    </footer>

    <!----- fin del footer ----->

  </body>
</html>
