<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Contacto</title>
  </head>
  <body>
      <header>

    <!-- Barra de menú -->

      <nav class="header__nav">
        <img src="../img/gh-logotipo-original.png" alt="Logo de la empresa" class="nav__logo">
        <div>  
          <ul>
            <li class="nav__il"><a href="../index.html">Inicio</a></li>
            <li class="nav__il"><a href="Cursos.html">Cursos</a></li>
            <li class="nav__il"><a href="Webinar.html">Webinar</a></li>
            <li class="nav__il"><a href="Contacto.html">Contacto</a></li>
            <li class="nav__il"><a href="Iniciar__sesión.html">Iniciar Sesión</a></li>
          </ul>
        </div>
      </nav>

    <!------------------->


    </header>
    
    <section>
      <h1>TÍTULO DE CONTACTO</h1> 
      <p class="hero_parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur illum eos aperiam nemo natus praesentium tempore pariatur corrupti fugit? Autem similique obcaecati earum, temporibus quas impedit vero distinctio possimus a.</p>
      <a href="Cursos.html">¿Que quieres aprender?</a>
    </section>
    <br>
    <br>
    <Section>
      <div class="formulario_container">
      <form action=""> <!-- Etiqueta de formulario -->
        <label for="nombre">Nombre:</label> <!-- Para colocar un campo para llenar -->
        <input type="text" placeholder="Ingrese su nombre" id="nombre" /> <!-- Para colocar un campo para llenar -->
        <br>
        <br>
        <label for="apellido ">Apellido:</label>
        <input type="text" placeholder="Ingrese su apellido" id="apellido" />
        <br>
        <br>
        <label for="mail ">Mail:</label>
        <input type="email" placeholder="Mail" id="mail" />
        <br>
        <br>
        <label for="telefono">Teléfono:</label>
        <input type="text" placeholder="Ingreso su telefono" id="telefono" />
        <br>
        <br>
        Provincia: <select name="" id="">  <!-- Para colocar un desplegable de opciones -->
          <option value="1">BUENOS AIRES</option>
          <option value="2">CATAMARCA</option>
          <option value="5">CHACO</option>
          <option value="6">CHUBUT</option>
          <option value="50">CIUDAD AUTONOMA DE Bs As</option>
          <option value="3">CORDOBA</option>
          <option value="4">CORRIENTES</option>
          <option value="7">ENTRE RIOS</option>
          <option value="8">FORMOSA</option>
          <option value="9">JUJUY</option>
          <option value="10">LA PAMPA</option>
          <option value="11">LA RIOJA</option>
          <option value="12">MENDOZA</option>
          <option value="13">MISIONES</option>
          <option value="14">NEUQUEN</option>
          <option value="15">RIO NEGRO</option>
          <option value="16">SALTA</option>
          <option value="17">SAN LUIS</option>
          <option value="19">SANTA CRUZ</option>
          <option value="20">SANTA FE</option>
          <option value="21">SANTIAGO DEL ESTERO</option>
          <option value="22">TIERRA DEL FUEGO</option>
        </select>
        <br>
        <br>
        ¿Desea recibir nuestro Newsletter?
        <input type="checkbox">
        <br>
        <br>
        Consulta:
        <br>
        <br>
        <textarea name="" class="text__area" cols="50" rows="10"></textarea>
        <br>
        <br>
        <input type="submit">
        <input type="reset">
      </div>
    </Section>
    </form>
    <br>
    <section>
      Logo de Whatsapp
      <a href="https://wa.me/+5493513419174" target="_blanck">Whatsapp</a>
      <br>
      <br>
      Logo de ubicación
      <a href="https://goo.gl/maps/L4fyzm1HqLHiMrsH6" target="_blanck">Ubicación</a>
      <br>
      <br>
      Logo de Email
      <a href="mailto:herrero.fdrico@gmail.com" target="_blanck">Email</a>
      <br>
      <br>
      Logo de Facebook
      <a href="https://www.facebook.com/" target="_blanck">Facebook</a>
      <br>
      <br>
      Logo de Linkedin
      <a href="https://www.linkedin.com/" target="_blanck">Linkedin</a>
      <br>
      <br>
      Logo de Instagram
      <a href="https://www.instagram.com/" target="_blanck">Instagram</a>
    </section>
    <br>
    <br>
    <div>
      SUSCRIBETE A NUESTRO CONTENIDO
      <label for="mail "></label>
      <input type="email" placeholder="Mail" id="mail" />
      <input type="submit" value="Suscribete">
    </div>

    <footer class="footer_container">
      <section>
        <h4>Logo</h4>
        <!-- Aquí va inserto el logo -->
        <p>Copyright © 2021 XXXX. Todos los Derechos Reservados</p>
        <h4>Nuestras oficinas</h4>
        Ubicación:
        <a href="https://goo.gl/maps/L4fyzm1HqLHiMrsH6" target="_blanck"> Nuevo Centro Shopping</a>
        <br>
        Teléfono de contacto:
        <a href="https://wa.me/+5493513419174" target="_blanck">(+549)3513419174</a>
        <br>
        Página de contacto:
        <a href="Contacto.html">Contacto</a>
        <br>
        <br>
        Logo de Facebook
        <a href="https://www.facebook.com/" target="_blanck">Facebook</a>
        <br> 
        Logo de Whatsapp
        <a href="https://wa.me/+5493513419174" target="_blanck">Whatsapp</a>        
        <br>
        Logo de Instagram
        <a href="https://www.instagram.com/" target="_blanck">Instagram</a>
      </section>
    </footer>
  </body>
</html>
